body {
	font-family: Verdana, sans-serif;
}

caption {
	font-weight: bold;
	font-size: 150%;
	padding: 15px;
}

table {
	border-collapse: collapse;
	font-size: 90%;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 10px;
}

th {
	color: white;
	background-color: black;
}

td {
	text-align: center;
	vertical-align: center;
}

tr:hover {
	background-color: PaleGreen;
}

.footer {
	color: DarkGray;
	text-align: center;
}

.label {
	font-weight: bold;
}
