body {
	font-family: Verdana, sans-serif;
}

.body,
.header,
.detail,
.footer {
	display: flex;
}

.body {
	flex-flow: column nowrap;
	min-width: 1000px;
}

.header {
	flex-flow: row nowrap;
	align-items: center;
	background-color: black;
	justify-content: space-between;
	border: 1px solid Black;
	border-radius: 5px 25px;
	margin-bottom: 10px;
}

.header img {
	width: auto;
	height: 50px;
	padding: 0px 10px;
}

.header h1 {
	color: White;
	font-weight: bold;
	font-size: 150%;
	padding: 0px 10px 5px 5px;
}

.detail {
	flex-flow: column nowrap;
	border: 3px solid black;
	border-radius: 5px;
}

table {
	font-size: 90%;
	color: Black;
	text-align: center;
	vertical-align: center;
	border-collapse: collapse;
	background-color: rgb(240, 240, 240);
	width: 100%;
}

th, td {
	border: 1px solid black;
	padding: 0em 1em;
}

th {
	color: White;
	background-color: Black;
}

tr {
	height: 4em;
}

tr:hover {
	background-color: PaleGreen;
}

.footer {
	flex-flow: row nowrap;
	justify-content: center;
}

.footer p {
	color: Gray;
}
